.playerWrapper {
  position: absolute;
  height: 200px;
  width: 150px;
  z-index: 10;

  .player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';

    .state {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  &.ArrowLeft .running {
    transform: scaleX(-1);
  }

  &.ArrowRight .running {
    transform: scaleX(1);
  }

  &.bedroom-1 {
    top: 0;
    left: 30rem;
  }

  &.bedroom-2 {
    top: 0;
    left: 45rem;
  }

  &.top-stairs {
    top: 4rem;
    left: 4rem;
  }

  &.bathroom-1 {
    top: 0;
    left: 75rem;
  }

  &.bathroom-2 {
    top: 0;
    left: 90rem;
  }

  &.toilet {
    top: 20rem;
    left: 45rem;
  }

  &.entrance {
    top: 20rem;
    left: 0;
  }

  &.livingroom-1 {
    top: 20rem;
    left: 15rem;
  }

  &.livingroom-2 {
    top: 20rem;
    left: 30rem;
  }

  &.middlestairs-1 {
    top: 20rem;
    left: 60rem;
  }

  &.kitchen-1 {
    top: 20rem;
    left: 75rem;
  }

  &.kitchen-2 {
    top: 20rem;
    left: 90rem;
  }

  &.middlestairs-2 {
    top: 20rem;
    left: 105rem;
  }

  &.top-stairs {
    top: 0;
    left: 60rem;
  }

  &.basement-1 {
    top: 40rem;
    left: 45rem;
  }

  &.basement-2 {
    top: 40rem;
    left: 60rem;
  }

  &.basement-3 {
    top: 40rem;
    left: 75rem;
  }

  &.basement-4 {
    top: 40rem;
    left: 90rem;
  }

  &.bottom-stairs {
    top: 40rem;
    left: 105rem;
  }
}

.actionCounterBar {
  border: 2px solid black;
  border-radius: 5px;
  height: 10px;
  width: 70px;
  background: white;
  overflow: hidden;
  position: absolute;
  bottom: 90px;
  left: 47px;
  transform: translateX(-50%);

  span {
    height: 100%;
    background: repeating-linear-gradient(
      -45deg,
      transparent 0px,
      transparent 3px,
      black 3px,
      black 6px
    );
    display: block;
  }
}
