.player {
  position: absolute;
  background: blue;
  height: 50px;
  width: 50px;
  bottom: 2rem;
  left: 2rem;
  z-index: 9;

  &.isCleaning {
    background: red;
  }

  &.bedroom-1 {
    top: 2rem;
    left: 2rem;
  }

  &.bedroom-2 {
    top: 3rem;
    left: 3rem;
  }

  &.top-stairs {
    top: 4rem;
    left: 4rem;
  }

  &.bathroom {
    top: 5rem;
    left: 5rem;
  }

  &.toilet {
    top: 6rem;
    left: 6rem;
  }

  &.entrance {
    top: 7rem;
    left: 7rem;
  }

  &.livingroom-1 {
    top: 8rem;
    left: 8rem;
  }

  &.livingroom-2 {
    top: 9rem;
    left: 9rem;
  }

  &.middlestairs-1 {
    top: 10rem;
    left: 10rem;
  }

  &.kitchen-1 {
    top: 12rem;
    left: 12rem;
  }

  &.kitchen-2 {
    top: 13rem;
    left: 13rem;
  }

  &.middlestairs-2 {
    top: 14rem;
    left: 14rem;
  }

  &.basement {
    top: 15rem;
    left: 15rem;
  }

  &.bottom-stairs {
    top: 16rem;
    left: 16rem;
  }
}
