.game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .gameScreen {
    width: 120rem;
    height: 60rem;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .backgroundWrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -15rem;
      right: -15rem;

      .cls {
        fill: none;
        stroke: #231f20;
        stroke-miterlimit: 10;
        stroke-width: 6px;
      }
    }
  }

  .room {
    position: absolute;
    height: 20rem;
    opacity: 0.5;
    color: transparent;

    &.entrance {
      width: 15rem;
      top: 20rem;
      left: 0;
    }

    &.basement {
      width: 60rem;
      top: 40rem;
      left: 45rem;
    }

    &.living-room {
      top: 20rem;
      left: 15rem;
      width: 30rem;
    }

    &.toilette {
      top: 20rem;
      left: 45rem;
      width: 15rem;
    }

    &.kitchen {
      top: 20rem;
      left: 75rem;
      width: 30rem;
    }

    &.bedroom {
      top: 0;
      left: 30rem;
      width: 30rem;
    }

    &.bathroom {
      top: 0;
      left: 75rem;
      width: 30rem;
    }

    &.stairs {
      width: 15rem;

      &.topStairs {
        top: 0;
        left: 60rem;
      }

      &.middleStairs1 {
        top: 20rem;
        left: 60rem;
      }

      &.middleStairs2 {
        top: 20rem;
        left: 105rem;
      }

      &.bottomStairs {
        top: 40rem;
        left: 105rem;
      }
    }
  }

  .timer {
    position: absolute;
    bottom: -4rem;
    right: -4rem;
    z-index: 20;
  }
}
