.game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .gameScreen {
    width: 1000px;
    height: 800px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .room {
    border: 1px solid red;
    position: absolute;
    height: 200px;

    &.living-room {
      bottom: 0;
      left: 0;
      width: 600px;
    }

    &.kitchen {
      bottom: 0;
      right: 0;
      width: 400px;
    }

    &.attic {
      top: 0;
      left: 0;
      right: 0;
    }

    &.bedroom {
      top: 400px;
      width: 500px;
    }

    &.bathroom {
      top: 200px;
      left: 200px;
      width: 300px;
    }
  }
}
