.basement {
  position: relative;

  .step {
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }

  .boxes {
    position: absolute;
    top: 0;
    left: 0;
    height: 20rem;
    width: 15rem;
  }

  .sandBox {
    position: absolute;
    top: 0;
    left: 15rem;
    height: 20rem;
    width: 15rem;
  }
}
