.home-page {
  font-size: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .panel {
    width: 120rem;
    height: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
}
