.living-room {
  .armChair {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15rem;
    z-index: 9;
  }

  .vase {
    position: absolute;
    height: 4rem;
    width: 2rem;

    top: 101px;
    left: 21.3rem;
  }
}
