@keyframes plunge {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.player-plunge {
  .cls1 {
    fill: #231f20;
  }

  .step1 {
    animation: plunge 500ms infinite;
  }
  .step2 {
    animation: plunge 250ms infinite;
    animation-delay: 1s;
  }
}
