@keyframes tail {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes paw {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.catWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 150px;
  z-index: 5;
  display: flex;
  position: relative;
  z-index: 10;

  p {
    color: red;
    position: absolute;
  }

  .cat {
    height: 7.5rem;
    width: 7.5rem;

    .cls {
      fill: #231f20;
      stroke: #fff;
      stroke-miterlimit: 10;
      stroke-width: 0.37px;
    }

    .tail {
      opacity: 0.5;
      animation: tail 2s infinite;

      &.tail2 {
        animation-delay: 1s;
      }
    }

    .paw {
      opacity: 0;
    }
  }

  &.bedroom-1 {
    top: 0;
    left: 30rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 9.2rem;
      left: 6.3rem;
      position: relative;

      &.creating-caos {
        .paw {
          opacity: 0.5;
          animation: tail 0.2s infinite;

          &.paw2 {
            animation-delay: 0.1s;
          }

          &.paw3 {
            animation-delay: 0.2s;
          }
        }
      }
    }
  }

  &.bedroom-2 {
    top: 0;
    left: 45rem;
  }

  &.top-stairs {
    top: 4rem;
    left: 4rem;
  }

  &.bathroom-1 {
    top: 0;
    left: 75rem;
  }

  &.bathroom-2 {
    top: 0;
    left: 90rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 8.5rem;
      left: 0.3rem;
      position: relative;
      transform: rotateY(180deg);

      &.creating-caos {
        .paw {
          opacity: 0.5;
          animation: tail 0.2s infinite;

          &.paw2 {
            animation-delay: 0.1s;
          }

          &.paw3 {
            animation-delay: 0.2s;
          }
        }
      }
    }
  }

  &.toilet {
    top: 20rem;
    left: 45rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 9.2rem;
      left: 0.2rem;
      position: relative;

      &.creating-caos {
        .paw {
          opacity: 0.5;
          animation: tail 0.2s infinite;

          &.paw2 {
            animation-delay: 0.1s;
          }

          &.paw3 {
            animation-delay: 0.2s;
          }
        }
      }
    }
  }

  &.entrance {
    top: 20rem;
    left: 0;
  }

  &.livingroom-1 {
    top: 20rem;
    left: 15rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 8.4rem;
      left: 4.2rem;
      position: relative;
      transform: rotateY(180deg);

      &.creating-caos {
        .paw {
          opacity: 0.5;
          animation: tail 0.2s infinite;

          &.paw2 {
            animation-delay: 0.1s;
          }

          &.paw3 {
            animation-delay: 0.2s;
          }
        }
      }
    }
  }

  &.livingroom-2 {
    top: 20rem;
    left: 30rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 7.4rem;
      left: 0.8rem;
      position: relative;

      &.creating-caos {
        .paw {
          opacity: 0.5;
          animation: tail 0.2s infinite;

          &.paw2 {
            animation-delay: 0.1s;
          }

          &.paw3 {
            animation-delay: 0.2s;
          }
        }
      }
    }
  }

  &.middlestairs-1 {
    top: 20rem;
    left: 60rem;
  }

  &.kitchen-1 {
    top: 20rem;
    left: 75rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 6.7rem;
      left: 4.2rem;
      position: relative;

      &.creating-caos {
        .paw {
          opacity: 0.5;
          animation: tail 0.2s infinite;

          &.paw2 {
            animation-delay: 0.1s;
          }

          &.paw3 {
            animation-delay: 0.2s;
          }
        }
      }
    }
  }

  &.kitchen-2 {
    top: 20rem;
    left: 90rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 13.2rem;
      left: 4.2rem;
      position: relative;
      transform: rotateY(180deg);
    }
  }

  &.middlestairs-2 {
    top: 20rem;
    left: 105rem;
  }

  &.top-stairs {
    top: 0;
    left: 60rem;
  }

  &.basement-1 {
    top: 40rem;
    left: 45rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 13.5rem;
      left: 2.3rem;
      position: relative;
    }
  }

  &.basement-2 {
    top: 40rem;
    left: 60rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 13.5rem;
      left: 2.3rem;
      position: relative;
    }
  }

  &.basement-3 {
    top: 40rem;
    left: 75rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 13.5rem;
      left: 2.3rem;
      position: relative;
    }
  }

  &.basement-4 {
    top: 40rem;
    left: 90rem;

    .cat {
      height: 7.5rem;
      width: 7.5rem;
      top: 13.5rem;
      left: 2.3rem;
      position: relative;
    }
  }

  &.bottom-stairs {
    top: 40rem;
    left: 105rem;
  }
}

.actionCounterBar {
  border: 2px solid black;
  border-radius: 5px;
  height: 10px;
  width: 70px;
  background: white;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;

  span {
    height: 100%;
    background: repeating-linear-gradient(
      -45deg,
      transparent 0px,
      transparent 3px,
      black 3px,
      black 6px
    );
    display: block;
  }
}
