.cat {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 150px;
  z-index: 5;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(red, green, red, blue);
    content: '';
  }

  &.bedroom-1 {
    top: 0;
    left: 30rem;
  }

  &.bedroom-2 {
    top: 0;
    left: 45rem;
  }

  &.top-stairs {
    top: 4rem;
    left: 4rem;
  }

  &.bathroom-1 {
    top: 0;
    left: 75rem;
  }

  &.bathroom-2 {
    top: 0;
    left: 90rem;
  }

  &.toilet {
    top: 20rem;
    left: 45rem;
  }

  &.entrance {
    top: 20rem;
    left: 0;
  }

  &.livingroom-1 {
    top: 20rem;
    left: 15rem;
  }

  &.livingroom-2 {
    top: 20rem;
    left: 30rem;
  }

  &.middlestairs-1 {
    top: 20rem;
    left: 60rem;
  }

  &.kitchen-1 {
    top: 20rem;
    left: 75rem;
  }

  &.kitchen-2 {
    top: 20rem;
    left: 90rem;
  }

  &.middlestairs-2 {
    top: 20rem;
    left: 105rem;
  }

  &.top-stairs {
    top: 0;
    left: 60rem;
  }

  &.basement-1 {
    top: 40rem;
    left: 45rem;
  }

  &.basement-2 {
    top: 40rem;
    left: 60rem;
  }

  &.basement-3 {
    top: 40rem;
    left: 75rem;
  }

  &.basement-4 {
    top: 40rem;
    left: 90rem;
  }

  &.bottom-stairs {
    top: 40rem;
    left: 105rem;
  }
}
