@keyframes tail {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.catWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 150px;
  z-index: 5;
  display: flex;
  // align-items: flex-end;
  // justify-content: center;

  .cat {
    height: 7.5rem;
    width: 7.5rem;

    .cls {
      fill: #231f20;
      stroke: #fff;
      stroke-miterlimit: 10;
      stroke-width: 0.37px;
    }

    .tail {
      opacity: 0.5;
      animation: tail 2s infinite;

      &.tail2 {
        animation-delay: 1s;
      }
    }

    .paw {
      opacity: 0;
    }
  }

  &.bedroom-1 {
    top: 0;
    left: 30rem;
  }

  &.bedroom-2 {
    top: 0;
    left: 45rem;
  }

  &.top-stairs {
    top: 4rem;
    left: 4rem;
  }

  &.bathroom-1 {
    top: 0;
    left: 75rem;
  }

  &.bathroom-2 {
    top: 0;
    left: 90rem;
  }

  &.toilet {
    top: 20rem;
    left: 45rem;
  }

  &.entrance {
    top: 20rem;
    left: 0;
  }

  &.livingroom-1 {
    top: 20rem;
    left: 15rem;
  }

  &.livingroom-2 {
    top: 20rem;
    left: 30rem;
  }

  &.middlestairs-1 {
    top: 20rem;
    left: 60rem;
  }

  &.kitchen-1 {
    top: 20rem;
    left: 75rem;
  }

  &.kitchen-2 {
    top: 20rem;
    left: 90rem;
  }

  &.middlestairs-2 {
    top: 20rem;
    left: 105rem;
  }

  &.top-stairs {
    top: 0;
    left: 60rem;
  }

  &.basement-1 {
    top: 40rem;
    left: 45rem;
  }

  &.basement-2 {
    top: 40rem;
    left: 60rem;
  }

  &.basement-3 {
    top: 40rem;
    left: 75rem;
  }

  &.basement-4 {
    top: 40rem;
    left: 90rem;
  }

  &.bottom-stairs {
    top: 40rem;
    left: 105rem;
  }
}

.actionCounterBar {
  border: 2px solid black;
  border-radius: 5px;
  height: 10px;
  width: 100px;
  background: white;

  span {
    height: 100%;
    background: repeating-linear-gradient(-50deg, white 0px, white 3px, red 3px, red 6px);
    display: block;
  }
}
