.phone {
  .step2,
  .step3,
  .step4 {
    display: none;
  }

  &.active {
    .step1 {
      animation: phone 0.5s infinite;
    }
    .step2 {
      display: block;
      animation: phone 0.5s infinite;
      animation-delay: 0.12s;
    }

    .step3 {
      display: block;
      animation: phone 0.5s infinite;
      animation-delay: 0.24s;
    }

    .step4 {
      display: block;
      animation: phone 0.5s infinite;
      animation-delay: 0.32s;
    }
  }

  .cls1 {
    fill: #231f20;
  }
}

.points {
  position: absolute;
  top: 80px;
  left: 143px;
  transform: translateX(-50%);
  color: black;
  font-weight: bold;
  font-size: 12px;
  animation: points 1s infinite;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

@keyframes points {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  100% {
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
  }
}

@keyframes fire {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes phone {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
