.intro-screen {
  position: relative;

  .cls3 {
    fill: #231f20;
  }
  .cls6 {
    stroke: #fff;
  }
  .cls2,
  .cls5,
  .cls6 {
    stroke-miterlimit: 10;
  }
  .cls2,
  .cls5 {
    fill: #fff;
    stroke: #231f20;
  }
  .cls2 {
    stroke-width: 3px;
  }
  .cls5 {
    stroke-width: 5px;
  }
  .cls6 {
    fill: none;
    stroke-linecap: round;
  }
}
