.bg {
  .cls0 {
    fill: #ffffff;
    stroke: #231f20;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }
  .cls1 {
    fill: #231f20;
  }
  .cls2 {
    fill: none;
    stroke: #231f20;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .cls3 {
    fill: none;
    stroke: #231f20;
    stroke-width: 0.9;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .cls4 {
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .cls5 {
    fill: none;
    stroke: #231f20;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }
  .cls6 {
    fill: none;
    stroke: #231f20;
    stroke-width: 10;
    stroke-miterlimit: 10;
  }
  .cls7 {
    fill: none;
    stroke: #231f20;
    stroke-width: 6;
    stroke-miterlimit: 10;
  }
  .cls8 {
    fill: #ffffff;
    stroke: #231f20;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
  .cls9 {
    fill: #231f20;
    stroke: #231f20;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }
  .cls10 {
    fill: #ffffff;
    stroke: #231f20;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }
  .cls11 {
    fill: #231f20;
    stroke: #231f20;
    stroke-miterlimit: 10;
  }
  .cls12 {
    fill: #ffffff;
    stroke: #231f20;
    stroke-miterlimit: 10;
  }
  .cls13 {
    fill: #ffffff;
  }
}

.sun-moon {
  position: absolute;
  top: -10rem;
  left: 20rem;
  width: 20rem;
  height: 20rem;

  .cls0 {
    fill: #ffffff;
    stroke: #231f20;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }
  .cls1 {
    fill: none;
    stroke: #231f20;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .cls2 {
    fill: #231f20;
  }

  .moon {
    display: none;
  }
}
