.bg {
  .cls1,
  .cls10,
  .cls6,
  .cls8 {
    fill: #fff;
  }
  .cls1,
  .cls10,
  .cls2,
  .cls4,
  .cls6,
  .cls7,
  .cls8,
  .cls9 {
    stroke: #231f20;
    stroke-miterlimit: 10;
  }
  .cls1,
  .cls2,
  .cls7 {
    stroke-width: 2px;
  }
  .cls2,
  .cls4 {
    fill: none;
  }
  .cls4 {
    stroke-width: 6px;
  }
  .cls5,
  .cls7,
  .cls9 {
    fill: #231f20;
  }
  .cls6 {
    stroke-width: 4px;
  }
  .cls8 {
    stroke-width: 3px;
  }
}
